
svg {
    width: 40px;
    margin-left: 1px;
    overflow-x: visible;
    margin-top: auto;
    margin-bottom: auto;
    height: 35px;
}

text {
    paint-order: stroke;
    stroke: rgb(40, 42, 54);
}